/* Corps de la page */

/* Fonctionnement ohmyfood */

@media all and (min-width: 769px) {

    .flexbox-fonctionnement-ohmyfood {
        flex-direction: row;
        justify-content: space-around;
    }

    .conteneur-fonctionnement {
        width: 100%;
        white-space: nowrap;
        margin: 0px 0px 25px 10px;
    }

    .flexbox-blocs-fonctionnement {
        gap: 10px;
    }

}

@media all and (min-width: 825px) {

    .conteneur-fonctionnement {
        margin: 0px 20px 25px 20px;
    }

    .flexbox-blocs-fonctionnements {
        gap: 20px;
    }

}