/* Corps de la page */

/* Fonctionnement ohmyfood */

@media all and (min-width: 768px) {

    .flexbox-fonctionnement-responsive {
        flex-direction: row;
        justify-content: space-around;
    }

    .conteneur-fonctionnement {
        width: 100%;
        white-space: nowrap;
    }

    .gap-blocs-fonctionnement {
        gap: 10px;
    }

}

@media all and (min-width: 865px) {

    .gap-blocs-fonctionnement {
        gap: 20px;
    }

}

/* Restaurants disponibles */

@media all and (min-width: 768px) {

    .flexbox-restaurants-global {
        flex-flow: row wrap;
        justify-content: center;
    }

    .conteneur-restaurants {
        width: 45%;
    }

}

/* Footer */

@media all and (min-width: 768px) {

    .flex-column {
        align-items: center;
        width: 100%;
    }

}